@inherits UmbracoTemplatePage
@{
    Layout = "Velocity.cshtml";
}

<!-- Home -->
@*{ Html.RenderPartial("umbHomepageBanner"); }*@
@*{ Html.RenderPartial("umbBanner"); }*@


<div class="row">
  <div class="col-sm-12">
            <div id="main-content" class="content-box">
                <h4>Welcome To T payne &amp; co – Estate Agents In Chatteris</h4>
                
                <p>
                    <img class="alignleft wp-image-474 size-medium" src="http://www.tpayneandco.co.uk/wp-content/uploads/2014/10/tpaynefront-300x186.jpg" alt="" width="300" height="186"><br>
                    T Payne &amp; Co are Estate Agents in Chatteris that are passionate about property, straightforward, motivated &amp;&nbsp;completely&nbsp;independent. We are pleased to announce that we are&nbsp;NOW OPEN&nbsp;at 6 High Street, Chatteris, PE16 6BE!
                </p>
                <p>Open 7 days a week with evening and weekend valuation and viewing appointments available. Available when you are.</p>
                <p>&nbsp;</p>
                <p>We are a Licensed&nbsp;Branch of the National Association of Estate Agents.</p>
                <p>&nbsp;</p>
                <p>We cover Chatteris, March, Wisbech and the surrounding villages, and can tailor a marketing package to suit.</p>
                <p>Call us for a free valuation on (01354) 696700.</p>
                <p>
                    We love to talk property!<br>
                    <img class=" wp-image-2210 alignnone" src="http://www.tpayneandco.co.uk/wp-content/uploads/2015/03/neae-265x300.jpeg" alt="neae" width="110" height="125">&nbsp;&nbsp;<img class=" wp-image-259 alignleft" src="http://www.tpayneandco.co.uk/wp-content/uploads/2014/10/rm1-300x83.png" alt="" width="249" height="69">&nbsp; &nbsp; <img class=" wp-image-2211 alignleft" src="http://www.tpayneandco.co.uk/wp-content/uploads/2015/03/tpo-300x104.jpeg" alt="tpo" width="202" height="70">
                </p>
                <h4>Featured Properties</h4>
                

                <p style="text-align: center;">T Payne &amp; Co Estate Agents In Chatteris – Passionate about property, straightforward, motivated &amp;&nbsp;completely&nbsp;independent.</p>
            </div>

        </div><!-- .col-sm-9 -->

<!-- Portfolio -->
	@*{ Html.RenderPartial("umbFeatures"); }*@
	@*@{ Html.RenderPartial("umbPortfolioOverview"); }*@
</div>
<!-- /Main -->	