@{
	Layout = "Velocity.cshtml";
}

<div class="row">
	
		<div class="col-sm-12">		
			<div id="main-content" class="content-box">

<p><img class="alignright size-medium wp-image-201" src="http://www.tpayneandco.co.uk/wp-content/uploads/2014/10/001-300x200.jpg" alt="001" width="300" height="200">T Payne &amp; Co Ltd was formed by Tom Payne and Monique Ketteringham FNAEA after deciding we wanted to do things better.</p>
<p>We are passionate about property and this company has been born out of a love for Estate Agency and just being straightforward, motivated individuals.</p>
<p>We are totally independent, we take an interest and listen to our clients. We can offer highly competitive fees, for a service second to none.</p>
<p>Tom Payne has lived in Chatteris all his life and has unrivalled knowledge of the locality. His honest and friendly approach has won him an enviable reputation within the town and the surrounding area.</p>
<p><img class="alignright size-medium wp-image-203" src="http://www.tpayneandco.co.uk/wp-content/uploads/2014/10/office-opening-photos-017-300x199.jpg" alt="office opening photos 017" width="300" height="199">Who better to advise potential buyers on the local area: its schools, facilities, amenities – everything it has to offer – than someone who has grown up in the area and still chosen to live here themselves? This helps us enthuse about the area’s selling points, from relocation potential to investment potential, education to recreation… We have our finger on the local pulse.</p>
<p>Having been an Estate Agent since 2008, he has quickly proven that he is professional, hardworking and most importantly, straightforward.</p>
<p>Monique Ketteringham FNAEA has been an Estate Agent since 1989, working locally and within the surrounding towns and has built up a reputation on offering exceptional customer service, with her professionalism and knowledge of Estate Agency.</p>
<p>She has a down to earth, friendly approach and her caring attitude to each client is second to none. She can advise on all aspects of the sale and purchasing process and has a great knowledge of the after sales process, which is absolutely imperative when dealing with clients and their Solicitors, Surveyors and Mortgage Advisers.</p>
<p>Monique&nbsp;is a Member of the National Association of Estate Agents Fellow grade and T Payne &amp; Co is proud to have received its licence from the National Association of Estate Agents (NAEA).</p>
<p>A licensed estate agency branch means consumers are guaranteed that at least one agent within that branch is qualified in residential property sales, either through a formal qualification or through length of membership of the NAEA. This qualification requirement is unique to NAEA licensed estate agents – the only licence of its kind in the UK property industry.</p>
			</div>
		
		</div><!-- .col-sm-9 -->
		
			
	</div>
