@model BrightIdeas.Models.SearchViewModel

@using (Html.BeginForm("Search", "Search", FormMethod.Post, new { @class = "property-search-form form-inline ezsearch-form" }))
{
    <div class="col-xs-12 col-sm-4 col-md-3 form-group select">

        <select name="Location" class="form-control selectpicker">
            <option value="0">Any Location</option>
            <option value="1">
                Benwick
            </option>
            <option value="2">
                Cambridge
            </option>
            <option value="3" selected="selected">
                Chatteris
            </option>
            <option value="4">
                Doddington
            </option>
            <option value="4">
                Ely
            </option>
        </select>
    </div>

    <input type="submit" value="Search" class="btn btn-primary" />
}
